    /*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background:#c5d8e8;;
  }
  
  header {
    background: #333;
  }
  
  h1 {
    padding: 20px 0;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(91, 92, 97);
    text-align: left;
  }
  
  h2 {
    font-size: 24px;
    margin: 90px;
    margin-bottom: 20px;
    color: rgb(91, 92, 97);
  }
  
  a {
    color: #0a494b;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1500px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #main-summary,
  #image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #main-summary {
    width: 75   %;
  }
  
table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid black;
}
tr:nth-child(even) {background-color:#a3bfd6;}

#data-p {
    margin: 15px;
}
  
.footer {
    width: 100%;
    height: 150px;
    background: #3167b1;
    position: absolute;
    bottom: 0px; left: 0;
}